In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [4]:
tips = sns.load_dataset("tips").head()

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.describe()

       total_bill       tip     size
count    5.000000  5.000000  5.00000
mean    19.322000  2.618000  2.80000
std      5.824686  1.198361  0.83666
min     10.340000  1.010000  2.00000
25%     16.990000  1.660000  2.00000
50%     21.010000  3.310000  3.00000
75%     23.680000  3.500000  3.00000
max     24.590000  3.610000  4.00000

In [9]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  5 non-null      float64
 1   tip         5 non-null      float64
 2   sex         5 non-null      category
 3   smoker      5 non-null      category
 4   day         5 non-null      category
 5   time        5 non-null      category
 6   size        5 non-null      int64
dtypes: category(4), float64(2), int64(1)
memory usage: 848.0 bytes